DEV_MODE=false

HOST=
PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

APP_SECRET=
INTERNAL_ID=

AUTH_TOKEN_SECRET=

REVENUECAT_API_KEY=

BLUESOFT_TOKEN=

APPLICATION_SECRET_BACKUP_CRYPT=

MAIL_SERVICE_URL=
 # At 09:00 on Monday.
MAIL_NOTIFICATION_PERIOD=0 * * * * *

#Sentry
SENTRY_DSN=
SENTRY_DSN_QUEUES=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASS=
