[
    {
        "name": "default",
        "type": "postgres",
        "host": "",
        "port": 5432,
        "username": "",
        "password": "",
        "database": "",
        "migrations": [
            "src/Services/Database/Typeorm/migrations/*.ts"
        ],
        "cli": {
            "migrationsDir": "src/Services/Database/Typeorm/migrations"
        }
    },
    {
        "name": "test",
        "type": "postgres",
        "host": "",
        "port": 5432,
        "username": "",
        "password": "",
        "database": "",
        "dropSchema": true,
        "logging": false,
        "synchroize": true,
        "migrationsRun": true,
        "entities": ["src/App/Models/*.ts"],
        "migrations": [
            "src/Services/Database/Typeorm/migrations/*.ts"
        ],
        "cli": {
            "migrationsDir": "src/Services/Database/Typeorm/migrations"
        }
    }

]
