{
    "type": "postgres",
    "host": "",
    "port": 5432,
    "username": "",
    "password": "",
    "database": "",
    "migrations": [
        "src/Services/Database/Typeorm/migrations/*.ts"
    ],
    "cli": {
        "migrationsDir": "src/Services/Database/Typeorm/migrations"
    }
}
